html, body {
    background-color: rgb(238, 39, 39);
}
p {
    text-align: center;
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
}
.one {
    display: flex;
    justify-content: center;
    z-index: 1;
    align-content: center;
    margin: auto;
}
input {
    padding: 3px;
    border-color: 6px black;
}
button {
    background-color: rgb(20, 16, 16);
    color: white;
    font-size: 10px;
    border: black;
}
.one ul {
    list-style-type: none;
    margin: 25px;
}
.two {
    font-size: 10px;
    color: white;
    background-color: red;
    padding: 7px;
    font-size: 10px;
}
li {
    background-color: white;
    border-color: black;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-content: center;
    margin-right: 145px;
}



